@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");

html,
body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
  font-family: "Stylish", serif;
  font-weight: 400;
  font-style: normal;
  /* background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-image: url("../public/space-7709489_1280.jpg");*/
}

a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.9));
}

#root {
  /* min-height: 100vh; */
  width: 100%;
}

.header-container {
  display: flex;
  background-color: black;
  justify-content: space-between;
  flex-direction: row;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  background-color: black;

  img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .content-container {
    margin-top: 1rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: black;
    height: 100%;
    gap: 24px;

    display: flex;
    flex-direction: column;

    button {
      background-color: rgba(229, 229, 234, 0.12);
    }
  }
}

/* Header Section */
.app-header {
  background-color: #1a1b1f;
  color: white;
  padding: 1rem;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics p {
  font-size: 1.5rem;
  font-weight: bold;
}

.statistics span {
  font-size: 1rem;
  margin-top: 0.3rem;
}

/* Content Section */
.content-section {
  background-color: #ffffff;
  flex: 1;
  padding: 1.5rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

.ton-connect-wrapper {
  margin-bottom: 1rem;
}

.network-button {
  background-color: #1a1b1f;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
}

.moon-data {
  margin-top: 2rem;
  text-align: center;
}

.moon-data strong {
  display: block;
  margin-bottom: 0.5rem;
}

/* Footer Section */
.app-footer {
  background-color: #1a1b1f;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-item i {
  font-size: 1.5rem;
}

.footer-item span {
  margin-top: 0.3rem;
  font-size: 0.9rem;
}

.home-icon::before {
  content: "🏠";
}

.leaderboard-icon::before {
  content: "📊";
}

.friends-icon::before {
  content: "👥";
}

.moon-widget {
  background-color: #3498db;
  border-radius: 16px;
  padding: 16px;
  color: white;
  font-family: Arial, sans-serif;
  width: 250px;
  text-align: left;
}

.moon-header {
  font-weight: bold;
  text-transform: uppercase;
}

.moon-info {
  margin-top: 10px;
}

.moon-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.moon-detail span:last-child {
  font-weight: bold;
}
.moon-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
img.moon {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 64px;
  min-width: 64px;
  max-height: 64px;
  min-height: 64px;
}

.shadow {
  position: absolute;
  width: 64px;
  height: 64px;
  background: radial-gradient(circle, transparent 50%, black 50%);
  clip-path: circle(50% at 50% 50%);
  transition: all 0.3s ease;
}

/*-----*/
.celestial-sphere {
}
.moon-phase-view {
}
.moon-time-controls {
}
.moon-animate-controls {
}
.moon-diagram-options {
}
.hide-lunar-button {
  margin: 0 auto;
  background-color: rgba(229, 229, 234, 0.12);
  color: #ffffff;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
  padding: 8px 16px 8px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 40px;
  line-height: 18px;
  transition: transform 0.125s ease-in-out;
  border: none;
  border-radius: 100vh;
}

@keyframes moonRotation {
  /* from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
  0% {
    background-position: 0% 0%;
    border: 0px solid #00000000;
  }
  50% {
    background-position: 150% 0%;
    border: 0px solid #00000000;
  }
  100% {
    background-position: 300% 0%;
    border: 0px solid #00000000;
  }
}

.moon-background {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-image: url("https://www.solarsystemscope.com/textures/download/2k_moon.jpg");
  background-repeat: repeat-x;
  background-size: 110% 100%;
  opacity: 1;
  animation-name: moonRotation;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards !important;
  box-shadow: inset -10px 8px 6px -5px #ffffff,
    inset 20px -20px 40px 30px rgba(0, 0, 0, 0.9),
    7px -6px 14px rgba(255, 255, 255, 0.3215686275);
}
